@import url(http://fonts.googleapis.com/css?family=Federo|Glass+Antiqua);
@import url(http://fonts.googleapis.com/css?family=Federo|Raleway|Quattrocento);

/***Fixes******/

/***IE box model****/

*	{ 
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}

hr {
	border: 1px solid #eee;
	margin: 0 auto;
	width: 100%;
	max-width: 1040px;
	}
	
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	line-height: 0;
}

.wrapper {
	max-width: 1040px;
	margin: 0 auto;
	}

	
/*****Header container*****/

	
#header-container  {
	padding: 20px 0 10px;
	position: relative;
	width: 100%;
	}
	
	#logo {
		display: inline-block;
		float: left;
		padding: 20px 0;
		border: 1px solid #eee
		}

	#nav_bar {
		position: absolute;
		bottom: 15px;
		padding: 20px 0px;
		right: 0px;
		border: 1px solid #eee
		}

	#nav_bar a {
		padding: 0 0 0 20px;
		font-size: 1.5em;
		font-family: 'Federo', sans-serif;
		color: rgb(181, 16, 48);
		text-decoration: none;
		}
	
	#nav_bar a:hover {
		color: rgb(128,201,153);
		}

	#quote-container {
		height: 600px;
		border: 1px solid #eee;
		width: 100%;
		background: #fff;
	}

/* ------------BODY -------------*/
	
#mission-statement {
	text-align: center;
	font-size: 2em;
	font-family: 'Quattrocento', sans-serif;
	line-height: 1.5em;
	padding: 45px 0;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	color: rgb(51,50,50);
	}
	
span {
	color: rgb(181,16,48);
	font-weight: bold;
	}
	
#container-main {
	background: #fff;
	width: 100%;
	padding: 0 0 40px;
}
	
	.icon-container {
		width: 24.25%;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		border: 1px solid #eee;
		}
	
		.icon-container a {
			width: 200px;
			margin: 10px auto;
			display: block;
			width: 150px;
			height: 150px;
			white-space: nowrap;
			text-indent: 100%;
			overflow: hidden;
			}
		
			a.mission{
				background-position: 0 0;
				background: url(../images/femsexboston-mission-icon.png) no-repeat;
				}
			a.mission:hover {background-position: 0 -150px;}
			a.mission:active {background-position: 0 -300px;}
			
			a.workshop {
				background-position: 0 0;
				background: url(../images/femsexboston-workshop-icon2.png) no-repeat;
				}
			a.workshop:hover {background-position: 0 -150px;}
			a.workshop:active{background-position: 0 -300px;}
			
			a.apply{
				background-position: 0 0;
				background: url(../images/femsexboston-apply-icon2.png) no-repeat;
				}
			a.apply:hover {background-position: 0 -150px;}
			a.apply:active{background-position: 0 -300px;}
			
			a.contribute {
				background-position: 0 0;
				background: url(../images/femsex-boston-donate-icon.png) no-repeat;
				}
			a.contribute:hover {background-position: 0 -150px;}
			a.contribute:active{background-position: 0 -300px;}
			
		.icon-container h3 {
			text-align: center;
			padding: 10px 0 0;
			font-size: 1.2em;
			font-family: 'Federo', sans-serif;
			text-transform: uppercase;
			color: rgb(181, 16,48);
			}

		.icon-container p {
			padding: 10px 20px 20px;
			font-family: 'Quattrocento', serif;
			}

	/*column */
	
.col4_left {
	float: left;
	width: 24.25%;
	margin: 0 0 20px 0;
	}

.col4_mid-left {
	float: left;
	width: 24.25%;
	margin: 0 0 20px 1%;
	}
	
.col4_right {
	float: right;
	width: 24.25%;
	margin: 0 0 20px 1%;
	}

	/*---------FOOTER---------*/
	
footer{
		position: relative;
		height: auto;
		vertical-align: bottom;
		}
		
	#footer-logo {
		display: inline-block;
		padding: 20px 0 10px 0;
		float: left;
		clear: both;
		}
	
	#footer-nav {
		position: absolute;
		padding: 35px 0 15px;
		right: 0px;
		top: 5px;
		text-align: right;
		float: right;
		}
	
	#footer-nav ul {
		list-style-type: none;
		padding: 0 0 15px 0;
		}
	
	#footer-nav ul li {
		display: inline;
		}
	
	#footer-nav a {
		font-family: 'Federo';
		font-size: 1.5em;
		text-decoration: none;
		color: rgb(181,16,48);
		padding: 20px 0 10px .7em;
		}
	
	#footer-nav a:hover {
		color: rgb(128,201,153);
		}
	
	
	#social {
		float:right;
		right: 0px;
		top: 50px;
		width: 46px;
		z-index: 5;
		}
	/*
		a.fbook {
			display: block;
			width: 46px;
			margin: 0 auto;
			height: 46px;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background: url(../images/femsex-social-fbook.png) no-repeat;
			}
		
		a.twitt {
			display: block;
			width: 46px;
			margin: 0 auto;
			height: 46px;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background: url(../images/femsex-social-twitter.png) no-repeat;
			}
			
		a.fbook {background-position: 0 0}
		a.fbook:hover {background-position: 0 -46px;}
		a.fbook:active {background-position: 0 -86px;}
		
		a.twitt {background-position: 0 0}
		a.twitt:hover {background-position: 0 -43px;}
		a.twitt:active {background-position: 0 -86px;}
	
	*/
	
	#footer-nav p {
		font-size: .75em;
		text-align: right;
		font-family: 'Quattrocento', sans-serif;
		color: rgb(50, 51,51);
		}
		
	
